<div class="form-wrp">
	<div class="form login">
       <% if @error %>
          <div class="form-error">
            <%= @error %>
          </div>
        <% end %>
		
		<a href="/signup" style="font-weight: bold;">新規登録はこちら</a><br>
		<%= link_to 'Googleログイン',  user_google_omniauth_authorize_path %><br>
		<%= link_to 'Facebookログイン', user_facebook_omniauth_authorize_path  %><br>
		<%= link_to 'Twitterログイン', user_twitter_omniauth_authorize_path  %>
	</div>
</div>