<img src="/top.jpg" class="topimg">    
	<div class="section intro-section">
		<div class="benefit-wrp">
			<div class="benefit-item textcenter">
				<h3>Benefits</h3>
				<img src="/hp.png">
				<h2>幸福度がアップする</h2>
				<p>ポジティブ心理学で有名なマーティン・セリグマンの研究によって「感謝の日記」を毎日つけた人は幸福度が高まるということが分かっています。</p>
			</div>

			<div class="benefit-item textcenter">
				<img src="/mn.png">
				<h2>お金が貯まる</h2>
				<p>ノースイースタン大学の論文によって、感謝によって目先の欲望に対する忍耐力がつき衝動が減ることが分かっています。</p>
			</div>
			
			<div class="benefit-item textcenter">
				<img src="/sl.png">
				<h2>良く眠れる</h2>
				<p>ある調査によると「感謝の日記」をつけると１週間で思考が穏やかになり、寝つきが良くなったという結果があります。</p>
			</div>
		</div>
	</div>
	
	<hr class="border">
	<div class="start textcenter section">
		<h2>Let's get started!</h2>
		<a href="/signup" class="btn-gradient-simple">SIGN UP</a>
	</div>