<!-- post詳細 -->
<div class="timeline-wrp">
	<div class="timeline-item">
		<div class="timeline-item-img">
			<img src="<%= "/user_images/#{@post.user.image_name}" %>">
		</div>
		<div class="timeline-item-content">
			<div class="us-name"><%= link_to(@post.user.name, "/users/#{@post.user.id}") %></div>
			<p><%= @post.content %></p>
			<%= link_to("編集","/posts/#{@post.id}/edit")%>
		</div>
	</div>
</div>